body {
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto 0 auto;
    width: 100%;
    text-align: center;
    margin: 20px 0px 20px 0px;
}

p {
    font-size: 25px;
    text-decoration: none;
    color: black;
}

h2 {
    font-size: 3.5em;
    color: #525252;
}


.project-field {
    background: #ecf0f1;
    border: #ccc 1px solid;
    border-bottom: #ccc 2px solid;
    padding: 8px;
    width: 250px;
    color: #AAAAAA;
    margin-top: 10px;
    font-size: 1em;
    border-radius: 4px;
}

.blurb {
    color: #58676b;
}

.img2 {
    height: 100px;
}