@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.projectlist-title {
  font-size: 32px;
  padding: 0 130px;
  font-weight: 400;
  text-align: left;
  color: #242222;
}

.project.title {
  text-decoration-line: none;
  text-align: left;
  padding: 0 0 0 24px;
  color: #242222
}

#project-list {
  grid-column-gap: 30px;
  grid-row-gap: 20px;
  column-gap: 30px;
  display: grid;
  grid-template-columns: 35% 35% 35%;
  justify-content: center;
  margin: 0px 190px 120px 190px;
  row-gap: 20px;
  color: #242222;
}

@media (max-width: 576px) {
  #project-list {
    max-width: 1200px;
    grid-template-columns: repeat(1, 1fr);
    margin: 0 auto;
    display: grid;
    gap: 1rem;
  }

}

.underline {
  text-decoration: underline 4px;
  padding: 20px 0 0 0;
}


nav {
  color: #242222;
  font-size: 40;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 2rem 8rem;
  /* transition: color 0.2s; */
}


.title {
  text-align: left;
}

.h3 {
  text-align: left;
  color: #242222;
}

.h2 {
  text-align: left;
  color: #242222;
}

.h4 {
  text-align: left;
  color: #242222;
}

.description {
  text-align: left;
}